#main{
    border: 3px solid red;
    height: 450px;
    width: 300px;
    padding: 20px;
    margin-left: 600px;
}
input{
    display:flex;
    width: 250px;
    height: 40px;
}
button{
   margin: 5px;
   padding: 10px;
}